<!DOCTYPE html>
<html lang="en" ng-app="Main">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IBM FEDExercise</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../assets/css/stylesheet.css" rel="stylesheet" type="text/css">
    <!-- End of CSS -->
</head>

<body ng-controller="MainCtrl as ctrl">


    <p>Hello</p>



    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js"></script>
    <script src="main-directives.js"></script>
    <script src="main-services.js"></script>
    <script src="main-controller.js"></script>
    <script src="app.js"></script>
    <!-- End of Scripts -->
</body>

</html>
